*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins';
}
:root{
    --first-color: #f35525;
    --second-color: #1e1e1e;
    --third-color: #7a7a7a;
    --white-color: #ffffff;
    --black-color: #000000;
}

/* Global styles  */
.container{
    max-width: 1170px;
    margin: 0 auto;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Header styling  */
.top-header{
    background-color: var(--white-color);
    border: 1px solid #eeeeee;
    padding: 14px 0px;
}
.left-info ul{
    display: flex;
    list-style-type: none;
    gap: 2rem;
    color: var(--third-color);
}
.left-info ul i{
    margin-right:1rem;
    color: var(--first-color);
    font-size: 1.1rem;
}
.right-socialicons ul li{
    display: inline-block;
    margin-right: 1rem;
}
.right-socialicons ul li i{
    background-color: #cdcdcd;
    padding: 6px;
    border-radius: 50px;
    color: var(--white-color);
    font-size: 1rem;
    transition: 0.5s ease;
}
.right-socialicons ul li i:hover{
    background-color: var(--first-color);
    cursor: pointer;
}
/* Navbar styling  */
header{
    height: 80px;
    vertical-align: middle;
    line-height: 80px;
}
.logo-brand{
    font-size: 16px;
    text-transform: uppercase;
}
.logo-brand a{
    text-decoration: none;
    color: var(--second-color);
}
.navbar-links ul{
    display: flex;
    list-style: none;
    gap: 2.4rem;
}
.navbar-links ul li a{
    color: var(--black-color);
    list-style: none;
    text-decoration: none;
    font-size: 16px;
}
.navbar-links ul li a.active{
    color: var(--first-color)
}
.navbar-links ul li a:hover{
    color: var(--first-color)
}
.schedulebtn{
    background-color: var(--black-color);
    color: var(--white-color)!important;
    padding: 8px 24px 8px 0px;
    border-radius: 50px;
}
.fa-cart-shopping{
    background-color: var(--first-color);
    padding: 10px;
    margin-right: 10px;
    border-radius: 50px;
}